:root {
    --primary-bg: #2a2c39;
    --secondary-bg: #3e414f;
    --accent: #ff5c8a;
    --text-color: #f2f2f2;
    --button-bg: #ff5c8a;
    --button-text: #fff;
    --border-color: #525560;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to right, var(--primary-bg), var(--secondary-bg));
    color: var(--text-color);
    font-size: 16px;
}

header {
    padding: 2rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--accent);
    margin-bottom: 0.6rem;
    margin-top: 3rem;
    font-family: "Montserrat", sans-serif;
}

header h1 span {
    color: var(--button-bg);
}

#new-task-form {
    display: flex;
    align-items: flex-end;
    margin-top: 1rem;
}

input,
button,
select {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 1;
    background-color: var(--primary-bg);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    color: var(--text-color);
    font-size: 1rem;
    border: 1px solid var(--border-color);
}

#new-task-input::placeholder {
    color: var(--border-color);
}

#priority-select {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary-bg);
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid var(--border-color);
}

#priority-select:hover {
    background-color: var(--border-color);
}

#new-task-submit {
    color: var(--button-text);
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--button-bg);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.3s;
}

#new-task-submit:hover {
    opacity: 0.8;
}

#new-task-submit:active {
    opacity: 0.6;
}

main {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

.priority-section {
    margin: 20px 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.high {
    border-left: 5px solid var(--accent);
}

.medium {
    border-left: 5px solid #ffcb47;
}

.low {
    border-left: 5px solid #6bdbb0;
}

.tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-bg);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task .content {
    flex: 1;
}

.task .content .text {
    color: var(--text-color);
    font-size: 1.5rem; /* Adjusted font size */
    width: 100%;
    display: block;
    transition: 0.3s;
    margin-bottom: 0.75rem; /* Adjusted spacing */
}

.task .content .text:not(:read-only) {
    color: var(--accent);
}

.task .actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.task .actions button {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
    border: none;
    background: none;
    color: var(--text-color);
}

.task .actions button:hover {
    color: var(--accent);
}

.task .actions button:active {
    opacity: 0.8;
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}